<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Notes</title>
</head>

<body>

<h1>My Notes App</h1>

<form action = "{{url_for('add_note') }}" method = "post">
    <input type = "text" name = "title" placeholder = "Note Title" required><br>
    <textarea name = "body" placeholder = "Note Body" required></textarea><br>
    <button type = "submit"> Add Note</button>
</form>

{% for note in notes %}
    <h2>{{note.note_id}}: {{note.title}}</h2>
    <p>{{note.body}}</p>
    <a href="{{ url_for('edit_note', note_id=note.note_id) }}">
      <button>Edit</button>
    </a>
    <form action = "{{url_for('delete_note', note_id=note.note_id)}}" method = "post">
    <button type="submit">Delete</button>
    </form>
    <small>{{note.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</small>
    <hr>
{% endfor %}
</body>
</html>